@model List<thesis_lawyer.Models.UserModel>

@{
    
}
<h2 class="text-center mb-5">List of Users</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Create">New User</a>
    </div>
    <div class="col">
        
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>IsPremium</th>
        <th>Created On</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.Email
            </td>
            
            @if (@item.isPremium == true)
            {
                <td>Premium User</td>
            }
            else{
                <td>Regular User</td>       
            }
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" asp-controller="Admin"asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>